body {
  font-family: "SF Pro Display", sans-serif;
  margin: 0%;
  letter-spacing: 1px;
}

body::-webkit-scrollbar {
  display: none;
}
.vrchnyText {
  margin-right: 48px;
}
.prvyHeader {
  max-width: 1320px;
  display: flex;
  padding: 0.5rem 0;
  justify-content: center;
  font-size: 13px;
  align-items: center;
  border-bottom: 1px solid #b2e1ff;
  margin: auto;
}

.openlabCommunityButton {
  background-color: #f0f0f1;
  color: #9aa2ab;
  padding: 0.5rem;
  border-radius: 30rem;
  border: 0;
  margin: 0%;
  align-items: center;
}

.buttonImage {
  vertical-align: middle;
}

.druhyHeader {
  margin: auto;
  max-width: 1320px;
}

.navbar {
  display: flex;
  padding: 0;
  margin: 1rem auto;
  align-items: center;
}

.headerImage {
  display: inline;
  margin-right: 2rem;
}

.headerList li {
  display: inline;
  justify-content: space-evenly;
  padding: 0px 0.5rem;
  font-weight: 400;
  font-size: 13px;
}

.druhyButton {
  background-color: #3597ff;
  color: whitesmoke;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.9rem 1.5rem;
  font-weight: bold;
  font-size: 0.9rem;
  margin-left: 15rem;
}

.prvaSekcia {
  margin-top: 0;
  width: 100%;
  background-color: #3597ff;
}

.prvaSekciaContainer {
  max-width: 1320px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  max-height: 400px;
  height: 30rem;
  color: whitesmoke;
  align-items: center;
}

.prvyText {
  margin-top: 0;
  width: 30rem;
  font-weight: normal;
  font-size: 2.5rem;
}

.druhyText {
  width: 25rem;
  font-size: 0.8rem;
  font-weight: lighter;
}

.prvyObrazok {
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 100%;
  display: block;
}

.druhaSekcia {
  width: 100%;
}

.druhaSekciaContainer {
  max-width: 1320px;
  margin: 5rem auto;
}

.druhaSekciaText {
  text-align: center;
  font-size: 40px;
  font-weight: lighter;
}

.dlhyText {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  text-align: center;
  max-width: 1320px;
  margin: auto;
}

.blocky {
  margin: 5rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.prvyBlock {
  display: block;
  width: 20rem;
  margin: auto;
  justify-content: center;
}

.druhyBlock {
  display: block;
  width: 20rem;
  margin: auto;
  justify-content: center;
}

.tretiBlock {
  display: block;
  width: 20rem;
  margin: auto;
  justify-content: center;
}

.tretiaSekcia {
  width: 100%;
}

.tretiaSekciaContainer {
  display: flex;
  flex-direction: row;
  max-width: 1320px;
  margin: auto;
}

.tretiaSekciaText {
  width: 50%;
  color: rgb(98, 122, 167);
}

.tretiaSekciaNadpis {
  font-weight: lighter;
  font-size: 40px;
  color: black;
}

.tretiaSekciaT1 {
  font-weight: lighter;
  font-size: 16px;
}

.tretiaSekciaT2 {
  font-weight: lighter;
  font-size: 16px;
}

.kocky {
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: flex-end;
}

.kocka1 {
  background-color: rgb(241, 247, 253);
  color: rgb(91, 148, 215);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 1rem;
  width: 12rem;
  height: 10rem;
  padding: 1rem;
  border-radius: 2%;
}

.kocka1Cislo {
  font-size: 90px;
  margin: 0.5rem 0;
}

.kocka1Text {
  font-size: 18px;
  margin: 0;
}

.kocka2 {
  background-color: rgb(215, 248, 235);
  color: rgb(92, 193, 154);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 1rem;
  width: 12rem;
  height: 10rem;
  padding: 1rem;
  border-radius: 2%;
}

.kocka2Cislo {
  font-size: 90px;
  margin: 0.5rem 0;
}

.kocka2Text {
  font-size: 18px;
  margin: 0;
}

.kocka3 {
  background-color: rgb(248, 243, 215);
  color: rgb(219, 202, 104);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 1rem;
  width: 12rem;
  height: 10rem;
  padding: 1rem;
  border-radius: 2%;
}

.kocka3Cislo {
  font-size: 90px;
  margin: 0.5rem 0;
}

.kocka3Text {
  font-size: 18px;
  margin: 0;
}

.kocka4 {
  background-color: rgb(248, 215, 215);
  color: rgb(185, 94, 115);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 1rem;
  width: 12rem;
  height: 10rem;
  padding: 1rem;
  border-radius: 2%;
}

.kocka4Cislo {
  font-size: 90px;
  margin: 0.5rem 0;
}

.kocka4Text {
  font-size: 18px;
  margin: 0;
}

.stvrtaSekciaContainer {
  max-width: 1320px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.stvrtaSekciaNadpis {
  font-size: 40px;
  font-weight: 300;
  width: 30%;
}

.prvaKarta {
  width: 15%;
  padding: 3rem;
}

.prvaKartaNadpis {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

.prvaKartaText {
  font-size: 14px;
  font-weight: normal;
}

.prvaKartaSipka {
  bottom: auto;
}

.druhaKarta {
  width: 15%;
  padding: 3rem;
}

.druhaKartaNadpis {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

.druhaKartaText {
  font-size: 14px;
  font-weight: normal;
}

.druhaKartaSipka {
  bottom: auto;
}

.tretiaKarta {
  width: 15%;
  padding: 3rem;
}

.tretiaKartaNadpis {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

.tretiaKartaText {
  font-size: 14px;
  font-weight: normal;
}

.tretiaKartaSipka {
  bottom: auto;
}
